<div style = "text-align: center; font-size: 20px;">
   <h1 style="color: purple;">The New York Times</h1>
    <% @titles.each do |title| %>
        <%= title.text.strip %> <br/><br/>
    <% end %>
</div>
